.navbar-item:hover{
    color:#930C10 !important
}
.navbar-item{
    color: #dbdbdb !important;
}
.navbar{
    background-color: #930C10 !important;
}
#sign-in{
    background-color:#b00e13;
    color:#dbdbdb
}
#sign-in:hover{
    background-color: #dbdbdb;
    color: #b00e13;
}
.ThreeJS{
    width: 200px;
    height: 200px;
}
